/*section*/
#about {
    width: 1400px;
    margin: 0 auto;
    text-align: right;
    border-top: 1.5px solid  rgb(38, 55, 110);
}

/*article1*/
#section-info{
    text-align: left;
}
.info-title {
    font-size: 25px;
    font-weight: 600;
    margin: 50px 0 50px 0;
    text-align: left;
    color: rgb(38, 55, 110);
}
.info {
    margin-top: 25px;
}
 
/*article2*/

.pictures {
    text-align: left;
}

.love {
    display: flex;
    justify-content: space-between;
}

.pictures img {
    max-width: 220px;
}

.lovetext {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}